@using System.Text;
@using System.Net.Http.Headers;
@using Microsoft.AspNetCore.Components;
@using Newtonsoft.Json;
@using System.Timers;
@using MauiAppMCQs.Models;

@page "/FormulaApp"
<PageTitle>QuizApp</PageTitle>

@if (Questions.ToList().Count <= 0)
{

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
}


@if (Questions.ToList().Count > 0)
{
    <button class="btn btn-primary" @onclick="NextQuestion">Next Question</button>


}
<p role="status">@Topich</p>
<p role="status">@Topic</p>
@if (Questions.ToList().Count > 0)
{
    @number
    @filler
    @maxnumber
}

<p role="status">@QuestionTitleh</p>

<p role="status">@QuestionTitle</p>

 



 
@if (Questions.ToList().Count > 0)
{
     
    <button class="btn btn-primary" @onclick="ToggleAnswer">@buttonText</button>

    

    <p style="display:@display">@Answerh</p>

    <p style="display:@display">@Answer</p>

     <p style="display:@display">
        <img src="@imageDataURL" />
    </p>

     

  
}



<p role="status">@errormessage</p>
@code {



  public  string jwttoken;
    public byte[] ImageData;
    public byte[] ImageSol;
    public List<QuestionF> Questionsform { get; set; } = new List<QuestionF>();

    QuestionsDatabaseform questionsDatabaseform;
    public string imageDataURL; public string imageSolURL;
    //   using Communication = Microsoft.Maui.ApplicationModel.Communication;
    private string activity = "";
    public string code; public string errortoggle = ""; public string errormessage = ""; public string checkflag = "N";
    public string matches;

    public int number;
    public List<QuestionF> Questions { get; set; } = new List<QuestionF>();
    protected int questionIndex = 0;
    protected int score = 0;
    protected int failedIndex = 0;
    protected string[] failedQuestions = new string[500];
    public int totaltime; public int totalquestions;
    public int _currentCount = 0; public int _currentSec ;
    private System.Timers.Timer _timer;
    public int maxnumber; public int minumber; public string solution; public string Topic; public string QuestionTitle;
    public string Answer;public int time; public string timeh;
    bool isInitialized = false;
    string solutionh;

    string Topich;

    string QuestionTitleh;

    string Answerh;

    List<QuestionF> res;
    private string display = "none";
    private string buttonText = "Hide Solution";
    public int range;
    string filler = "/";


    private void ToggleAnswer()
    {
        string bypass = "N";

        if (_currentCount > 5 )
        {
            bypass = "Y";
            errormessage = "";

        }
        else
        { errormessage = "Cannot Show Solution until 5 seconds "; }
        if (bypass == "Y")
        {
            if (display == "none")
            {
                display = "block";
                buttonText = "Hide Solution";

            }
            else
            {
                checkflag = "Y";
                display = "none";
                buttonText = "Show Solution";
            }
        }
    }
    private void NextQuestion()
    {









        if (checkflag == "N")
        { errormessage = "Show/Hide Solution to move to next question"; }
        else
        {
            _currentCount = 0;
            _timer = new();
            _timer.Interval = 1000;
            _timer.Elapsed += async (object? sender, ElapsedEventArgs e) =>
            {
                _currentCount++;
                await InvokeAsync(StateHasChanged);
            };
            _timer.Enabled = true;
            questionsDatabaseform = new QuestionsDatabaseform();
            LoadQuestionsAsync();
            checkflag = "N";
            errormessage = " ";
        }




    }
    private void IncrementCount()
    {
        _currentCount = 0;
        _timer = new();
        _timer.Interval = 1000;
        _timer.Elapsed += async (object? sender, ElapsedEventArgs e) =>
        {
            _currentCount++;
            _currentSec = _currentCount / 10;
            await InvokeAsync(StateHasChanged);
        };
        _timer.Enabled = true;




        questionsDatabaseform = new QuestionsDatabaseform();

        LoadQuestionsAsync();








    }
    async Task<List<QuestionF>> GetApiData()
    {




   
        List<QuestionF> Questions = new List<QuestionF>();

        var jsonContent = new StringContent(JsonConvert.SerializeObject(new
        {
            bodyField1 = "" 
            
        }), Encoding.UTF8, "application/json");


        
        using (var client1 = new HttpClient())
        {
            string authurl = "https://myquizapi.azurewebsites.net/api/";

            client1.BaseAddress = new Uri(authurl);

            client1.DefaultRequestHeaders.Clear();
            client1.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));

            HttpResponseMessage Res = await client1.PostAsync("Auth", jsonContent);

            if (Res.IsSuccessStatusCode)
            {
                //Storing the response details recieved from web api
                string json = await Res.Content.ReadAsStringAsync();

                // Parse the JSON response to extract the address
                dynamic data1 = Newtonsoft.Json.JsonConvert.DeserializeObject(json);
                jwttoken = data1.token;

                


            }

        }










        string connected = "N";




        string apiUrl = "https://myquizapi.azurewebsites.net/api/";

        using (HttpClient client = new HttpClient())
        {
            try
            {
                // Make a GET request to the API
                //    HttpResponseMessage response = await client.GetAsync(apiUrl);

                client.BaseAddress = new Uri(apiUrl);

                client.DefaultRequestHeaders.Clear();
                client.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));
                client.DefaultRequestHeaders.Add("Authorization", $"Bearer {jwttoken}");
                HttpResponseMessage response = null;
                response = await client.GetAsync("Questionsforms");
                // Check if the request was successful (status code 200)
                if (response.IsSuccessStatusCode)
                {


                    // Make a GET request to the API

                    connected = "Y";
                    // Read the content of the response
                    string jsonString = await response.Content.ReadAsStringAsync();


                    // Deserialize the JSON string into an object
                    Questions = JsonConvert.DeserializeObject<List<QuestionF>>(jsonString);
                    // truncate sqlLIte table Load sqlite table  from  Questions
                    //If the first time when you load the api data, it will push data to the sqlite DB.

                    //comment begins

                    List<QuestionF> itemInTheDB = await questionsDatabaseform.GetItemsAsync();
                    //    if (itemInTheDB.Count == 0)
                    // {


                    foreach (QuestionF item in itemInTheDB)
                    {
                        var result = Questions.FirstOrDefault(c => c.SNo == item.SNo);

                        if (result == null)
                        {
                            await questionsDatabaseform.DeleteItemAsync(item);
                        }
                    }

                    foreach (QuestionF itemdb in Questions)
                    {
                        var resulty = itemInTheDB.FirstOrDefault(c => c.SNo == itemdb.SNo);
                        matches = "N";


                        if (resulty == null)
                        { await questionsDatabaseform.SaveItemAsync(itemdb); }


                        if (resulty != null)
                        {
                            if ((resulty.No == itemdb.No)  
                             && (resulty.QuestionTitle == itemdb.QuestionTitle)   && (resulty.Answer == itemdb.Answer)
                             && (resulty.Topic == itemdb.Topic))
                            { matches = "Y"; }

                        }
                        else
                        { await questionsDatabaseform.SaveItemAsync(itemdb); }
                        if (matches == "N")
                        { await questionsDatabaseform.SaveItemAsync(itemdb); }

                    }


                    //   }
                    //comment ends

                }
                else
                { // Load  Questions from sql lite  table

                    Questions = await questionsDatabaseform.GetItemsAsync();
                }
            }
            catch (Exception ex)
            {
            
                if (connected == "N")
                {
                    Questions = await questionsDatabaseform.GetItemsAsync();

                }


            


            }
        }
        return Questions;
    }

    private async Task LoadQuestionsAsync()
    {

        display = "none";
        buttonText = "Show Solution";

        if (!isInitialized)
        {

            res = await GetApiData();





            Questions.AddRange(res.Select(r => new QuestionF
                {
                    SNo = r.No,
                    Topic = r.Topic,
                    QuestionTitle = r.QuestionTitle,

                    Answer = r.Answer,
                   
                    Imagedata=r.Imagedata 
                   
                }));
            isInitialized = true;

        }
        maxnumber = (from e in res select e.No).Max();
        minumber = (from e in res select e.No).Min();
        range = maxnumber + 1;
        Questions = Questions.OrderByDescending(s => s.SNo).ToList();


        Random rand = new Random();
        number = rand.Next(minumber, range);
        var result = Questions.FirstOrDefault(c => c.SNo == number);
        
        Topic = result.Topic;
        Topich = "Topic";
        
       
        QuestionTitle = result.QuestionTitle;
        QuestionTitleh = "QuestionTitle";
        Answer = result.Answer;
        Answerh = "Answer";
        ImageData = result.Imagedata;
       
        string imagesrc; 
        imagesrc = Convert.ToBase64String(ImageData);
        imageDataURL = string.Format("data:image/jpeg;base64,{0}", imagesrc);
        

    }


}